.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* top: 0;
  height: 80%;
  width: 100%;
  background-color: white;  */
}
.logo{
  flex: 1;
}
.logo-pic{
  width: 10%;
  height: auto;
  margin-top: -1px;
}
.logo-name{
  color: rgb(87, 20, 20);
  margin: -43px 0 0 70px;
  font-size: 16px;
}
.links{
  flex: 1;
  
}
li{
  display: inline-block;
  margin-left: 180px;
  margin-right: -150px;
}
li a{
  color: rgb(87, 20, 20);
  font-style: none;
  text-decoration: none;
}
.wrapped{
  border: none;
  color: rgb(87, 20, 20);
  border: 1.5px solid rgb(87, 20, 20);
  background-color: white;
  padding: 7px 10px;
  border-radius: 25px;
  cursor: pointer;
}