.About-section{
  background-color: rgba(250, 180, 89, 0.479);
}
.about-details{
  display: flex;
}
.about-head h2{
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
.about-picture, .about-write-up{
  flex: 1;
}
.about-picture{
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}
.picture{
  width: 100%;
  max-width: 450px;   
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 50px 35px 120px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.about-write-up{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.about-write-up h2{
  font-weight: bolder;
  font-size: 30px;
  line-height: 25px;
}
span{
  font-size: 20px;
}
.write-up{
  width: 500px;
}
.picture{
  width: auto;
}
.icon-details{
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px; 
  justify-content: start; 
  margin-top: 15px;
}
.about-icons{
  display: flex;
}
.about-icons p{
  font-size: 13px;
  margin-left: 10px;
}
.icons{
  width: 13%;
  height: auto;
} 


