.contact-head{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Aladin", system-ui;
}
.contact-details{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  gap: 60px;
  padding: 0 200px;
}
* {
  box-sizing: border-box;
}
.contact-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 370px;
  background-color: wheat;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.212);
}
.input-row{
  display: flex;
  gap: 25px;
}
.input-row input {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
}
.submit-btn{
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  align-items: center;
}
.details{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
}
.more-details{
  display: flex;
}
.more-details img{
  width: 40px;
  height: 40px;
  background-color: wheat;
  padding: 8px;
  border-radius: 6px;
}

.icon-detail{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.icon-detail h5{
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 15px;
}
.icon-detail p{
  margin-top: -10px;
  font-size: 13px;
}
.map-pic{
 position: relative;
}
.map-pic img{
  width: 390px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0.85;
  margin-top: 7px;
}

@media (max-width: 600px) {
  .contact-details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 150vh;
  }
  .details{
    margin-bottom: 0;
  }
  .map-pic img{
    width: 370px;
    height: 160px;
  }
}

@media (max-width: 999px) {
  .contact-details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 150vh;
  }
}



