.hero{
  width: 100%;
  height: 540px;
} 
.hero-text{
  font-family: "Aladin", system-ui;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 29%;
}
.hero-text h1{
  font-size: 45px;
  color: #4A2C2A;
}
.hero-text p{
  font-size: 20px;
  margin-top: -5px;
}
.hero-button{
  background-color: #E3B04B;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 15px;
}