.hero{
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
} 
.hero-text{
  font-family: "Aladin", system-ui;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h1{
  font-size: clamp(0.7rem, 3vw + 1rem, 3rem);
  color: #4A2C2A;
}
.hero-text p{
  font-size: 1.2rem;
  margin-top: -5px;
}
.hero-button{
  background-color: #E3B04B;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 0.8rem;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .hero-text{
   margin-top: -120px;
  }
  .hero-button {
    margin-top: -10px;
  }
} 

