.navbar {
  display: flex;
  justify-content: space-between;
  /* top: 0;
  height: 80%;
  width: 100%;
  background-color: white;  */
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 0 0 auto; 
}

.logo-pic {
  width: 70px;
  height: auto;
}

.logo-name {
  color: rgb(87, 20, 20);
  font-size: 20px;
  margin: 0;
}
.mobile-menu {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 15px;
}
.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

li a {
  color: rgb(87, 20, 20);
  text-decoration: none;
}

.wrapped {
  border: none;
  color: rgb(87, 20, 20);
  border: 1.5px solid rgb(87, 20, 20);
  background-color: white;
  padding: 7px 10px;
  border-radius: 25px;
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media (max-width: 600px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    position: sticky;
    right: 20px;
    margin-left: 280px;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .mobile-menu.active {
    right: 0;
  }
  .logo-pic{
    width: 50px;
  }
  .logo{
    gap: 1rem;
  }
  .logo-name{
    font-size: 16px;
  }
}

@media (max-width: 445px) {
  .hamburger {
    margin-left: 180px;
  }
}

