.product-head h2{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Aladin", system-ui;
}
.display-products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
} 
.product-info{
  width: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.pic-product {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.product-name{
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 5px;
}
.product-price{
  font-size: 15px;
  font-size: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
.cart-button{
  width: 80%;
  background-color: #E3B04B;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
}