.service-head h2{
  font-family: "Aladin", system-ui;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}
.display-services{
  display: flex;
  justify-content: space-evenly;
}
.service-info{
  width: 220px;
  background-color: #F6D28A;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 15px 8px;
}
.icons{
  width: 50%;
  object-fit: cover;
}
.more-about-icons{
  text-align: center;
}

@media (max-width: 600px) {
  .display-services{
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .service-info {
    width: 250px;
  }
}